/* selector :root is the same as selector html, but has a higher specificity. */

:root {
    font-family: "Poor Story", cursive; /* font: font-style font-variant font-weight font-size/line-height font-family|caption|icon|menu|message-box|small-caption|status-bar|initial|inherit;*/
    font-size: 3.1vh;
    margin: 0;
    min-width: 320px;
    border: 1px dashed black;       /* Delete later. It's for checking screen size */
    text-align: center;
    height: 100%;
}

/* Set a media query: for slim mobile phones (check iPhoneX) fonts and especially furbal-says
need to be smaller because of line-breaks.
-> Check aspect ratio. */

/*
@media only screen and (orientation: portrait) {
    :root {
        font-size: 3vh;
    }
}
*/
@media only screen and (orientation: landscape) {
    :root {
        width: 100vh;
        /* make a landscape style later */
    }
}

/*
@media only screen and (max-device-width: 480) {
    :root {font-size: 100%;}
    /* To edit later. Font size should be relative to viewport (vw), but resizing of all elements should stop by []px (Tablet size).
}
*/

@media (display-mode: fullscreen) {
    .hide-in-fullscreen { display: none; }
    .show-in-fullscreen-only { display: block; }
}
@media (display-mode: browser) {
    .hide-in-fullscreen { display: block; }
    .show-in-fullscreen-only { display: none; }
}

html {
    /* COLOR VARS: */
    --red: red;
    --black: black;
    --dark1: #333;
    --dark2: #666;
    --dark3: #888;
    --dark4: #999;
    --white: white;
    --light1: hsl(0, 0%, 95%);
    --light2: hsl(0, 0%, 90%);
    --light3: hsl(0, 0%, 75%);
    --green1: hsl(150, 100%, 25%);
    --green2: hsl(150, 100%, 40%);
    --green3: hsl(150, 100%, 60%);
    --green4: hsl(151, 100%, 80%);
    --colorA1: orange;
    --colorB1: darkblue;
}
* {
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid green; */
}
body {
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 0.9rem;
}

/*============================*/
/* FOR TESTING AND ADJUSTING */
/*============================*/
.monitor {
    display: none;
    position: fixed;
    right: 0;
    top: 0;   /*23%*/
    width: 40%;
    color: red;
    font: 0.45rem sans-serif;
    text-align: left;
    border: 1px solid red;
    padding: 0 0.2em;
    background-color: lightgrey;
    z-index: 2;
}
#mobile-browser-offset {        /* for adjusting */
    display: none;
    margin: 0;
    height: 240px;
    position: relative;
    background-color: var(--dark4);
}
#mobile-browser-offset p {
    margin: 0 10%;
    position: absolute;
    top: 50%;
    text-align: left;
    line-height: 1;
    transform: translateY(-50%);
    font: 50% monospace;
}

/*===============================================*/
/* INFO WINDOW (Intro, Settings, GameOver-Screen */
/*===============================================*/
#info-window {
    display: none;
    position: absolute;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: var(--light1);
    text-align: left;
    font-size: 0.8rem;
    padding: 4vmin 5vmin;
    border-radius: 10px;
    border: 1px solid var(--dark2);
    box-shadow: -0.1rem 0.2rem 0.5rem var(--dark2);
    
}
#info-window div.alignCenter { text-align: center; }
#info-window h1 { font: 1.5rem "Coiny", cursive; }
#info-window button {
    font: 0.8rem "Poor Story", cursive;
    display: inline-block;
    margin: 5% 0 0;
    padding: 3%;
    border: none solid var(--dark1);
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, var(--light1), var(--dark4));
    color: var(--black, black);
    cursor: pointer;
    text-decoration: none;
    box-shadow: -0.04rem 0.09rem 0.1rem var(--dark2);
}
#info-window button:hover {
    font-size: 0.9rem;
    background-image: linear-gradient(to bottom right, var(--white), var(--light3));
}
#info-window button:active {
    background-image: linear-gradient(to bottom right, var(--white), var(--light2));
    box-shadow: -0.01rem 0.02rem 0.04rem var(--dark4);
    transform: translate(-0.03rem, 0.07rem);
}
#info-window button:focus { outline: none;}
#info-window button:disabled {
    font-size: 0.9rem;
    pointer-events: none;
    background-image: linear-gradient(to bottom right, var(--white), var(--light2));
    box-shadow: none;
    transform: translate(-0.04rem, 0.09rem);
}

/*============================*/
/*============================*/

/*============================*/
/* GAME FIELD AND HEADING */
/*============================*/

#game-field {
    display: none;
    position: relative;
    margin: 1% 2.5% 0;
    /* animation: fade 1s ease 0s 1 normal; */
}
#game-field h3 { font-size: 1rem; }

h1 {
    font: 1rem "Coiny", cursive;
    margin: 0;         /* 2% 0 0 */
}

#furball-name {
    font: 1.4rem "Coiny", cursive;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*============================*/
/* FURALLS CONDITIONS */
/*============================*/

.conditions {
    
    text-align: left;
    width: 100%;         /* why 90% ?? */
}
.conditions > div {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    padding: 0 5% 0;
    margin: 1% 0;
    font-size: 0.7rem;
    height: 8rem;
}
.health {
    font-size: 1rem;
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    margin: 3% 0 4%;
}
.health-bar {
    width: 100%;
    height: 0.9em;
    border: 1px solid red;
    border-radius: 0.45em;
    margin-bottom: 2%;
    overflow: hidden;
}
.health-bar > div {
    height: 100%;
}
.condition-bar {
    width: 100%;
    height: 0.4em;
    margin-bottom: 2%;
    border-radius: 0.2em;
    overflow: hidden;
}
.condition-bar > div {
    height: 100%;
    border-radius: 0.2em;
}
.my-credits {
    font-size: 0.48rem;
    color: lightgrey;
    margin: 10% 0 2%;
}
a {
    text-decoration: none;
    color: grey;
}

/*========================================*/
/* CAGE AND BUTTONS + FURBALLS STATEMENTS */
/*========================================*/

.cage-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse
    /*border: 1px solid grey;*/
}

.cage { display: inline-block; }

.furball {
    width: 10em;
    height: 10em;
}

.buttons {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
}
.actionBtns {
    font: 1em "Poor Story", cursive;
    display: block;
    width: 2.7em;
    height: 2.7em;
    padding: 10%;
    border: none;
    color: white;
    border-radius: 50%;        /* or 10px */
    background-image: linear-gradient(to bottom right, var(--green2), var(--green1));
    color: var(--white, white);
    cursor: pointer;
    transition-duration: 0.15s;
    text-decoration: none;
    border: 1px solid var(--dark2);
    box-shadow: 0 0.22em var(--dark3);
}
.actionBtns:hover {
    background-image: linear-gradient(to bottom right, var(--green3), var(--green1));
}
.actionBtns:disabled {
    background-image: linear-gradient(to bottom right, var(--white), var(--dark4));
    color: var(--red);
    box-shadow: 0 0.08em var(--dark2);
    transform: translateY(0.14em);
}
.actionBtns:active {
    background-image: linear-gradient(to bottom right, var(--green4), var(--green2));
    box-shadow: 0 0.08em var(--dark2);
    transform: translateY(0.14em);
}
.actionBtns:focus { outline: none;}

/*============================*/

.furball-statement {
    margin: 5% 0 7.5%;
    font-size: 0.95rem;
    height: 1rem;
    /* For slim mobile phones (e. g. iPhoneX) element will probably break into 2 lines. */
}

/*============================*/
/* USER AND ITEMS */
/*============================*/

.user {
    float: left;
    text-align: left;
    width: 40%;
}
.user > div {
    border: 2px solid var(--colorB1);
    outline: 2px dotted var(--colorB1);
    outline-offset: 2px;
    padding: 3% 5%;
    margin: 1% 0;
    border-radius: 8px;
}
.items {
    float: right;
    text-align: right;
    width: 40%;
}
.items > div {
    border: 2px solid var(--colorA1);
    border-radius: 8px;
    padding: 3% 5%;
    margin: 1% 0;
    text-align: left;
}

/*============================*/
/* FOOTER AND ICONS */
/*============================*/

.footer1 {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0 0 4%;
    z-index: 1;
}
#settings {
    position: absolute;
    top: 50%;
    right: 5%;
    height: 90%;
    transform: translateY(-50%);
    opacity: 0.7;
}
#settings:hover, #settings:active {
    top: 50%;
    right: 5%;
    height: 99%;
    transform: translateY(-50%);
    opacity: 1;
}

/*============================*/
/*============================*/

/* 
@keyframes fade {
    from {
        opacity: 0;
        /* evtl:
        display: none;
        
    }
    to {opacity: 1}
}*/