/* selector :root is the same as selector html, but has a higher specificity. */

:root {
    font-family: "Poor Story", cursive; /* font: font-style font-variant font-weight font-size/line-height font-family|caption|icon|menu|message-box|small-caption|status-bar|initial|inherit;*/
    font-size: 3.1vh;
    /* border: 1px dashed black; */       /* Delete later. It's for checking... I donknow */
    text-align: center;
}

/*
Apect ratio for main content should stay by 2:3.
https://developer.mozilla.org/en-US/docs/Web/CSS/@media/aspect-ratio
If I set a vh for width: if 2:3 => width: 66.66vh (not a good solution because viewport != browser window.
try: via padding, https://www.w3schools.com/howto/howto_css_aspect_ratio.asp

Make a landscape style later. Perhaps.

*/




/* NAV-/ADRESS-BAR PROBLEMS. Maybe hide and show elements according to state of fullscreen mode. */

/*@media only screen and (display-mode: fullscreen or standalone or minimal-ui) {*/
@media only screen and (display-mode:fullscreen), (display-mode:standalone), (display-mode: minimal-ui) {
    .hide-in-fullscreen { display: none; }
    .show-in-fullscreen-only { display: block; }
}
@media only screen and (display-mode: browser) {
    .hide-in-fullscreen { display: block; }
    .show-in-fullscreen-only { display: none; }
}

html {
    /* COLOR VARS: */
    --red: red;
    --black: black;
    --dark1: #333;
    --dark2: #666;
    --dark3: #888;
    --dark4: #999;
    --white: white;
    --light1: hsl(0, 0%, 95%);
    --light2: hsl(0, 0%, 90%);
    --light3: hsl(0, 0%, 75%);
    --green1: hsl(150, 100%, 25%);
    --green2: hsl(150, 100%, 40%);
    --green3: hsl(150, 100%, 60%);
    --green4: hsl(151, 100%, 80%);
    --colorA1: orange;
    --colorB1: darkblue;
    --colorC1: green;
}
* {
    margin: 0;
    box-sizing: border-box;
    /* border: 0.1px solid green; */
}
body {  /* stretch body to viewable area of the window or screen. */
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100%;
    width: 100%;
    font-size: 0.9rem;
}
@media (min-aspect-ratio: 2/3) {
    body {
        max-width: 66.66vh;
        display: flex;
        justify-content: center;
        margin: auto;
    }
}

/* body > div > * {
    border: 1px solid green;
} */

.container {
    min-width: 320px;       /* 320px*/
    min-height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

/*============================*/
/* FOR TESTING AND ADJUSTING */
/*============================*/

.test-monitor {
    position: fixed;
    right: 0;
    top: 0;   /*23%*/
    width: 40%;
    color: red;
    font: 0.45rem sans-serif;
    text-align: left;
    border: 1px solid red;
    padding: 0 0.2em;
    background-color: lightgrey;
    z-index: 2;
}
#mobile-browser-offset {        /* for adjusting. nav bar and address bar of Chrome and system. */
    margin: 0;
    height: 12.5vh;      /* 240p bei 1920p*/
    width: 100%;
    position: relative;
    background-color: var(--dark4);
}
#mobile-browser-offset p {  /* nav- and address-bar of Android+Chrome */
    margin: 0 10%;
    position: absolute;
    top: 50%;
    text-align: left;
    line-height: 1;
    transform: translateY(-50%);
    font: 50% monospace;
}

/*===============================================*/
/* INFO WINDOW (Intro, Settings, GameOver-Screen */
/*===============================================*/
#info-window {
    display: none;
    position: absolute;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: var(--light1);
    text-align: left;
    font-size: 0.8rem;
    padding: 4vmin 5vmin;
    border-radius: 10px;
    border: 1px solid var(--dark2);
    box-shadow: -0.1rem 0.2rem 0.5rem var(--dark2);
    
}

#info-window div.alignCenter { text-align: center; }
#info-window h1 { font: 1.5rem "Coiny", cursive; }
#info-window h2 { margin-bottom: 0.5em; }
#info-window button {
    font: 0.9rem "Poor Story", cursive;
    display: inline-block;
    margin: 5% 0 0;
    padding: 3%;
    border: none solid var(--dark1);
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, var(--light1), var(--dark4));
    color: var(--black, black);
    cursor: pointer;
    text-decoration: none;
    box-shadow: -0.04rem 0.09rem 0.1rem var(--dark2);
}
#info-window button:hover {
    font-size: 1rem;
    background-image: linear-gradient(to bottom right, var(--white), var(--light3));
}
#info-window button:active {
    background-image: linear-gradient(to bottom right, var(--white), var(--light2));
    box-shadow: -0.01rem 0.02rem 0.04rem var(--dark4);
    transform: translate(-0.03rem, 0.07rem);
}
#info-window button:focus { outline: none;}
#info-window button:disabled {
    font-size: 1rem;
    pointer-events: none;
    /* background-image: linear-gradient(to bottom right, var(--white), var(--light2));*/
    background-image: none;
    background-color: var(--light1);
    box-shadow: none;
    transform: translate(-0.04rem, 0.09rem);
}
#info-window a {
    text-decoration: none;
    color: var(--colorB1);
}
#info-window .smaller-button {
    font-size: 0.8rem;
    margin: 3%;
    padding: 1.5% 2%;
    box-shadow: -0.02rem 0.04rem 0.05rem var(--dark2);
}
#info-window .smaller-button:hover {
    font-size: 0.75rem;
}

/*============================*/
/*============================*/

/*============================*/
/* GAME FIELD AND HEADING */
/*============================*/

#game-field {
    display: none;
    position: static;
    margin: 0 2.5% 0;
    width: 95%;
}
#game-field h3 { font-size: 1rem; }

#furball-name {
    margin: 0 0 1.8%;         /* 1.8% 0 if I remove 1st div of .container  */
    font: 1.3rem "Coiny", cursive;
    height: 1.7rem;
    overflow-y: hidden;
    /* overflow-x: scroll; or: */
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*============================*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*============================*/
/* FURALLS CONDITIONS */
/*============================*/

.conditions {
    text-align: left;
    width: 100%;
}
.conditions > div {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    padding: 0 5% 0;
    margin: 1% 0;
    font-size: 70%;
    height: 8rem;
}
.health {
    font-size: 1rem;
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    margin: 2.9% 0 2%;
}
.health-bar {
    position: relative;
    width: 90%;
    height: 0.9em;
    margin-bottom: 2%;
    border: 1px solid red;
    border-radius: 0.45em;
    overflow: hidden;
}
.health-bar > div {
    height: 100%;
}
.condition-bar {
    width: 100%;
    height: 0.4em;
    margin-bottom: 2%;
    border-radius: 0.2em;
    overflow: hidden;
}
.condition-bar > div {
    height: 100%;
    border-radius: 0.2em;
}

/*========================================*/
/* CAGE AND BUTTONS + FURBALLS STATEMENTS */
/*========================================*/

.cage-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse
    /*border: 1px solid grey;*/
}

.cage { display: inline-block; }

.furball {
    width: 10em;
    height: 10em;
}

.buttons {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
}
.actionBtns {
    font: 1em "Poor Story", cursive;
    display: block;
    width: 2.7em;
    height: 2.7em;
    padding: 10%;
    border: none;
    color: white;
    border-radius: 50%;        /* or 10px */
    background-image: linear-gradient(to bottom right, var(--green2), var(--green1));
    color: var(--white, white);
    cursor: pointer;
    transition-duration: 0.050s;
    text-decoration: none;
    border: 1px solid var(--dark2);
    box-shadow: 0 0.22em var(--dark3);
}
.actionBtns:hover {
    background-image: linear-gradient(to bottom right, var(--green3), var(--green1));
    box-shadow: 0 0.18em var(--dark2);
    transform: translateY(0.04em);
}
.actionBtns:disabled {
    background-image: linear-gradient(to bottom right, var(--white), var(--dark4));
    color: var(--red);
    box-shadow: 0 0.04em var(--dark2);
    transform: translateY(0.18em);
}
.actionBtns:active {
    background-image: linear-gradient(to bottom right, var(--green4), var(--green2));
    box-shadow: 0 0.04em var(--dark2);
    transform: translateY(0.18em);
}
.actionBtns:focus { outline: none; }

/*============================*/

.furball-statement {
    margin: 5% 0;
    font-size: 0.95rem;
    height: 1rem;
    /* For slim mobile phones (e. g. iPhoneX) element will probably break into 2 lines. */
}

/*============================*/
/* USER AND ITEMS */
/*============================*/

.items-container {
    margin-top: 10%;
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    */
}

.items {
    text-align: left;
    width: 40%;
}
.items > div {
    border: 2px solid var(--colorA1);
    border-radius: 8px;
    padding: 2% 5%;
    text-align: left;
    overflow: hidden;
}
.items > div > div {
    position: relative;
    display: flex;
    align-items: center;
    height: 1.83rem;
    /* width: 100%; */
}
.buy-button {
    position: absolute;
    right: 0;
    height: 1.5rem;
    cursor: pointer;
    transition-duration: 0.040s;
}
.buy-button:hover {
    height: 1.3rem;
    right: 0.1rem;
}
.buy-button:active {
    height: 1rem;
    right: 0.25rem;
    opacity: 0.8;
}

/*============================*/

#special-items {
    display: flex;
    justify-content: space-around;
    border-top: 2px solid var(--colorA1);
    padding-top: 3%;
}
.special-item {
    position: relative;
    height: 1.5rem;
    cursor: pointer;
    transition-duration: 0.040s;
}
.special-item > img { height: 100%; }
.special-item > span {
    color: var(--black);
    font-size: 0.75em;
    position: absolute;
    bottom: 0;
    right: 0;
    
    z-index: 1;
}
.special-item:hover {
    height: 1.7rem;
}
.special-item:active {
    opacity: 0;
    transition-duration: 200ms;
}
.hide {
    display: none;
}

.to-right-side {
    float: right;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */

}

/*============================*/

.user {
    text-align: right;
}
/* displays user name: */
.user > h3 {
    height: 1.1rem;
    font-size: 0.4rem;
    overflow-y: hidden;
    /* overflow-x: scroll; or: */
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user > div {
    border: 2px solid var(--colorB1);
    border-radius: 8px;
    padding: 2% 5%;
    text-align: left;
    overflow: hidden;
}

/*============================*/

.win-a-special {
    float: right;
    margin-top: 2vh;
    border: 2px solid var(--colorC1);
    border-radius: 8px;
    outline: 2px dotted var(--colorC1);
    outline-offset: 2px;
    display: flex;
    flex-direction: row;
    padding: 3%;
}
.win-a-special > div {
    position: relative;
    min-width: 1.5rem;
    height: 1.5rem;
}
.win-a-special img { height: 100%; }

.win-a-special > div:nth-child(2) {
    font-size: 0.5rem;
    border-left: 2px solid var(--colorC1);
    border-right: 2px solid var(--colorC1);
    margin: 0 3%;
}

/*============================*/
/* FOOTER AND ICONS */
/*============================*/

.my-credits {
    /* display: none; */
    position: relative;
    /* bottom: 0; */
    width: 100%;
    margin: 1.5% 0;
    z-index: 1;
    font-size: 0.48rem;
    color: var(--dark4);
}
/* @media (min-aspect-ratio: 2/3) {
    .my-credits {
        position: fixed;
        bottom: 0;
        width: 66.66vh;
    }
} */
.my-credits a {
    text-decoration: none;
    color: var(--dark2);
}

#go-to-settings {
    position: absolute;
    top: 50%;
    right: 5%;
    height: 90%;
    transform: translateY(-50%);
    opacity: 0.7;
    cursor: pointer;
}
#go-to-settings:hover, #go-to-settings:active {
    height: 99%;
    opacity: 1;
}

#toggle-fScreen {
    position: absolute;
    top: 50%;
    left: 5%;
    height: 90%;
    transform: translateY(-50%);
    opacity: 0.7;
    cursor: pointer;
}
#toggle-fScreen:hover, #toggle-fScreen:active {
    height: 99%;
    opacity: 1;
}

/*============================*/
/*============================*/

.greyscaled {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    pointer-events: none;
}

/* Animations */

@keyframes flash {
    from { opacity: 0; }
    to { opacity: 1; }
}
.flash {
    animation-name: flash;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

/* 
@keyframes fade {
    from {
        opacity: 0;
        /* evtl:
        display: none;
        
    }
    to {opacity: 1}
}*/

