/* selector :root is the same as selector html, but has a higher specificity. */

:root {
     /* font: font-style font-variant font-weight font-size/line-height font-family|caption|icon|menu|message-box|small-caption|status-bar|initial|inherit;*/
    font-family: "Poor Story", cursive;
    font-size: 3.1vh;
    text-align: center;
}

/*
Apect ratio for main content should stay by 2:3.
https://developer.mozilla.org/en-US/docs/Web/CSS/@media/aspect-ratio
If I set a vh for width: if 2:3 => width: 66.66vh (not a good solution because viewport != browser window.
try: via padding, https://www.w3schools.com/howto/howto_css_aspect_ratio.asp

Make a landscape style later. Perhaps.
*/

/* 
Not used anymore.
Missing support of some browsers (?):
Managed by JS now.

@media only screen and (display-mode: browser) {
    .hide-in-fullscreen { display: block; }
    .show-in-fullscreen { display: none; }
}
@media only screen and (display-mode:fullscreen), (display-mode:standalone), (display-mode: minimal-ui) {
    .hide-in-fullscreen { display: none; }
    .show-in-fullscreen { display: block; }
}
*/

html {
    /* COLOR VARS: */
    --red: red;
    --black: black;
    --dark1: #333;
    --dark2: #666;
    --dark3: #777;
    --dark4: #999;
    --white: white;
    --light1: hsl(0, 0%, 95%);
    --light2: hsl(0, 0%, 90%);
    --light3: hsl(0, 0%, 75%);
    --green1: hsl(150, 100%, 25%);
    --green2: hsl(150, 100%, 40%);
    --green3: hsl(150, 100%, 60%);
    --green4: hsl(151, 100%, 80%);
    --colorA1: orange;
    --colorB1: darkblue;
    --colorC1: green;
}
* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    /* border: 0.5px solid green; */
}

body {  /* stretch body to viewable area of the window or screen. */
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100%;
    width: 100%;
    font-size: 0.9rem;
    
}
@media (min-aspect-ratio: 2/3) {
    body {
        max-width: 66.66vh;
        display: flex;
        justify-content: center;
        margin: auto;
    }
}

.container {
    min-width: 320px;       /* 320px*/
    min-height: 480px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%; 	/* DONT FORGET TO SET BACK TO 100%; */
    width: 100%;
}

/*============================*/
/* FOR TESTING AND ADJUSTING */
/*============================*/

.test-monitor {
    position: fixed;
    right: 0;
    top: 0;   /*23%*/
    width: 40%;
    color: red;
    font: 0.45rem sans-serif;
    text-align: left;
    border: 1px solid red;
    padding: 0 0.2em;
    background-color: lightgrey;
    z-index: 2;
}
.slider-container {
    position: fixed;
    background-color: var(--dark2);
    bottom: 0px;
    left: 20%;
    width: 60%;
    z-index: 2;
    font: 0.45rem sans-serif;
    padding-top: 2%;
}
.slider-container > div:first-child {
    display: flex;
    justify-content: space-around;
}
.slider {
    width: 98%;
    margin-bottom: 2%;
    cursor: pointer;
}
/*
#show-height {
    font: 0.45rem sans-serif;
}
 */
/*===============================================*/
/* INFO WINDOW (Intro, Settings, GameOver-Screen */
/*===============================================*/

#enter-game {
    font: 1.5rem "Coiny", cursive;
    cursor: pointer;
}
#enter-game:hover { font-size: 1.7rem; }

#info-window {
    display: none;
    position: absolute;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: var(--light1);
    text-align: left;
    font-size: 1rem;
    padding: 4vmin 5vmin;
    border-radius: 10px;
    border: 1px solid var(--dark2);
    box-shadow: -0.1rem 0.2rem 0.5rem var(--dark2);
    
}

#info-window div.alignCenter { text-align: center; }
#info-window h1 {
    font: 1.5rem "Coiny", cursive;
    margin-bottom: 0.5rem;
}
#info-window h3 {
    margin-bottom: 0.25rem;
}
#info-window p { margin-bottom: 0.25rem; }
#info-window a { text-decoration: none; }
#info-window button, .link-as-button {
    font: 0.9rem "Poor Story", cursive;
    display: inline-block;
    margin-top: 6%;
    padding: 3%;
    border: none solid var(--dark1);
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, var(--light1), var(--dark4));
    color: var(--black, black);
    cursor: pointer;
    text-decoration: none;
    box-shadow: -0.04rem 0.09rem 0.1rem var(--dark2);
}
#info-window button:hover, .link-as-button:hover {
    font-size: 1rem;
    background-image: linear-gradient(to bottom right, var(--white), var(--light3));
}
#info-window button:active, .link-as-button:active {
    background-image: linear-gradient(to bottom right, var(--white), var(--light2));
    box-shadow: -0.01rem 0.02rem 0.04rem var(--dark4);
    transform: translate(-0.03rem, 0.07rem);
}
#info-window button:focus, .link-as-button:focus { outline: none; }
#info-window button:disabled {
    font-size: 1rem;
    pointer-events: none;
    /* background-image: linear-gradient(to bottom right, var(--white), var(--light2));*/
    background-image: none;
    background-color: var(--light1);
    box-shadow: none;
    transform: translate(-0.04rem, 0.09rem);
}

#info-window .smaller-button {
    font-size: 0.7rem;
    margin: 2%;
    padding: 1.5% 2%;
    /* box-shadow: -0.02rem 0.04rem 0.05rem var(--dark2); */
    box-shadow: none;
}
#info-window .smaller-button:hover {
    font-size: 0.75rem;
}
#install-app:disabled { display: none; }

#skip-intro {
    float: right;
    font-size: 0.8rem;
    cursor: pointer;
}
#skip-intro:hover { font-size: 0.85rem }
#next-page:hover { font-size: 1.3rem; }

#info-window input[type=text] {
    margin-top: 0.5rem;
    padding: 0.2rem 0.4rem;
    width: 50%;
    font: 0.8rem "Poor Story", cursive;
    border-radius: 10px;
    border: 2px solid var(--dark3);
    outline: none;
}
#info-window input[type=text]:focus {
    border: 2px solid var(--dark2);
}

#enter-furbal-name2 {
    margin: 2%;
    width: 75%;
}

.settings-credits { font-size: 3rem; }
.settings-credits div {
    font-size: 2rem;
}

/*============================*/
/*============================*/

/*============================*/
/* GAME FIELD AND HEADING */
/*============================*/

#game-field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* position: static; */
    margin: 0 2.5% 0;
    width: 95%;
    height: 93.2%;
}
#game-field h3 { font-size: 1rem; }

#furball-name {
    margin-bottom: 1.8%;
    font: 1.3rem "Coiny", cursive;
    height: 1.7rem;
    overflow-y: hidden;
    /* overflow-x: scroll; or: */
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*============================*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*============================*/
/* FURALLS CONDITIONS */
/*============================*/

.conditions {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    padding: 0 5% 0;
    margin-top: 1%;
    font-size: 0.7em;
    height: 7rem;
}
.health {
    font-size: 0.9rem;
    width: 100%;
    margin: 1% 0 0;
}
.health-bar {
    position: relative;
    height: 0.9em;
    margin-bottom: 2%;
    border: 1px solid red;
    border-radius: 0.45em;
    overflow: hidden;
}
.health-bar > div {
    height: 100%;
}
.condition-bar {
    width: 100%;
    height: 0.4em;
    margin-bottom: 0.5em;
    border-radius: 0.2em;
    overflow: hidden;
}
.condition-bar > div {
    height: 100%;
    border-radius: 0.2em;
}

/*========================================*/
/* CAGE AND BUTTONS + FURBALLS STATEMENTS */
/*========================================*/

.cage-container {
    padding-left: 15%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.cage { display: inline-block; }

.furball-pic-container {
    height: 9.5em;
}
.furball-pic {
    height: 100%;
    width: auto;
}

.buttons {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
}
.actionBtns {
    font: 1.15em "Poor Story", cursive;
    display: block;
    width: 2.675em;
    height: 2.675em;
    padding: 11%;
    border: none;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right, var(--green2), var(--green1));
    color: var(--white, white);
    cursor: pointer;
    transition-duration: 0.050s;
    text-decoration: none;
    border: 1px solid var(--dark2);
    box-shadow: 0 0.22em var(--dark3);
}
.actionBtns:hover {
    background-image: linear-gradient(to bottom right, var(--green3), var(--green1));
    box-shadow: 0 0.18em var(--dark2);
    transform: translateY(0.04em);
}
.actionBtns:disabled {
    background-image: linear-gradient(to bottom right, var(--white), var(--dark4));
    color: var(--red);
    box-shadow: 0 0.04em var(--dark2);
    transform: translateY(0.18em);
}
.actionBtns:active {
    background-image: linear-gradient(to bottom right, var(--green4), var(--green2));
    box-shadow: 0 0.04em var(--dark2);
    transform: translateY(0.18em);
}
.actionBtns:focus { outline: none; }

/*============================*/

.furball-statement {
    margin: 1% 0 2%;
    font-size: 0.95rem;
    height: 1.2rem;
    /* For slim mobile phones (e. g. iPhoneX) element will probably break into 2 lines. */
}

/*============================*/
/* USER AND ITEMS */
/*============================*/

.items-container {
    /* margin-top: 10%; */
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.items {
    text-align: left;
    width: 40%;
}
.items > div {
    margin: 0;
    min-width: 133px;
    border: 2px solid var(--colorA1);
    border-radius: 8px;
    padding: 2% 5%;
    text-align: left;
    overflow: hidden;
}
.items > div > div {
    position: relative;
    display: flex;
    align-items: center;
    height: 1.83rem;
    /* width: 100%; */
}
.buy-button, #buy-ticket {
    position: absolute;
    right: 0;
    height: 1.5rem;
    cursor: pointer;
    transition-duration: 0.040s;
}
.buy-button:hover, #buy-ticket:hover {
    height: 1.3rem;
    right: 0.1rem;
}
.buy-button:active {
    height: 1rem;
    right: 0.25rem;
    opacity: 0.8;
}

#buy-ticket:active {
    /* height: 0.1rem;
    right: 0.7rem; */
    opacity: 0;
}

/*============================*/

#special-items {
    display: flex;
    justify-content: space-around;
    border-top: 2px solid var(--colorA1);
    padding-top: 3%;
}
.special-item {
    position: relative;
    height: 1.5rem;
    cursor: pointer;
    transition-duration: 0.040s;
}
.special-item > img { height: 100%; }
.special-item > span {
    color: var(--black);
    font-size: 0.75em;
    position: absolute;
    bottom: 0;
    right: 0;
    
    z-index: 1;
}
.special-item:hover {
    height: 1.7rem;
}
.special-item:active {
    opacity: 0;
    transition-duration: 200ms;
}
.hide {
    display: none;
}


/*============================*/

.to-right-side {
    float: right;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    align-items: flex-end;
}

/*============================*/

.level-and-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.level {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.65rem;
    line-height: 0.5;
    border: 2px dashed var(--colorC1);
    border-radius: 8px;
    padding: 7% 5% 0;
}
#level {
    font: 1.2rem "Coiny", cursive;
}
.user {
    align-self: center;
    text-align: right;
    min-width: 5rem;
    max-width: 6rem;
}
/* displays user name: */
.user > h3 {                /* unused atm */
    height: 1.1rem;
    font-size: 0.4rem;
    overflow-y: hidden;
    /* overflow-x: scroll; or: */
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user > div {
    border: 2px solid var(--colorB1);
    border-radius: 8px;
    padding: 2% 5%;
    text-align: left;
    overflow: hidden;
}

/*============================*/

#win-a-special {
    float: right;
    margin-top: 10%;
    /* border: 2px solid var(--colorC1);
    border-radius: 8px;
    outline: 2px dotted var(--colorC1);
    outline-offset: 2px;*/
    border: 0.28rem solid transparent;
    border-image: url(./icons/waS-border1.gif) 50 round;
    display: flex;
    flex-direction: row;
    padding: 0.25rem;
}
#win-a-special > div {
    position: relative;
    min-width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
}
#win-a-special img {
    height: 1.5rem;
    /* display: none; */
}
#won-nothing {
    height: 1rem;
}

#win-a-special > div:nth-child(2) {
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 0.65rem/1 "Coiny", cursive;
    color: var(--colorC1);
    text-shadow: 0 0 0.02rem var(--dark1), 0 0 0.14rem var(--colorA1);
    border-left: 2px solid var(--colorC1);
    border-right: 2px solid var(--colorC1);
    margin: 0 0.25rem;
    padding: 0 0.25rem;
}
#clover:hover { height: 1.35rem; }

/*============================*/
/* FOOTER AND ICONS */
/*============================*/

.my-credits {
    /* display: none; */
    position: relative;
    /* bottom: 0; */
    width: 100%;
    margin: 1.5% 0;
    z-index: 1;
    font-size: 0.48rem;
    color: var(--dark4);
}
/* @media (min-aspect-ratio: 2/3) {
    .my-credits {
        position: fixed;
        bottom: 0;
        width: 66.66vh;
    }
} */
.my-credits a {
    text-decoration: none;
    color: var(--dark2);
}

#go-to-settings {
    position: absolute;
    top: 50%;
    right: 5%;
    height: 90%;
    transform: translateY(-50%);
    opacity: 0.7;
    cursor: pointer;
}
#go-to-settings:hover, #go-to-settings:active {
    height: 99%;
    opacity: 1;
}

#toggle-fScreen {
    position: absolute;
    top: 50%;
    left: 5%;
    height: 90%;
    transform: translateY(-50%);
    opacity: 0.7;
    cursor: pointer;
}
#toggle-fScreen:hover, #toggle-fScreen:active {
    height: 99%;
    opacity: 1;
}

/*============================*/
/*============================*/

.greyscaled {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    pointer-events: none;
}

/* Animations */

@keyframes flash {
    from { opacity: 0; }
    to { opacity: 1; }
}
.flash {
    animation-name: flash;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes pulse {
    from { transform: scale(0.9) }
    to { transform: scale(1.05) }
}

.pulse {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate;
}

/* 
@keyframes fade {
    from {
        opacity: 0;
        /* evtl:
        display: none;
        
    }
    to {opacity: 1}
}*/

